/* charger le font souhaité ) partir de fichier OTF et TTF*/
@font-face{
    font-family : MyEnglishFont1;
    src: url('../Content/font/trench100free.otf')
}

@font-face {
    font-family: MyEnglishFont2;
    src: url('font/Impregnable_Personal_Use_Only.ttf') format('truetype');
}

body{
    margin-top: 100px;
    margin-bottom : 50px
    }

.navbar-default {
    background-color: #0c5c85;
    border-color: #e7e7e7;
    
}
.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
  font-family:MyEnglishFont1
}
.navbar-default .navbar-nav > li > a:hover{
    color:#fff;
}

/*  Responsive navbar
    on va redéfinir le style de tout les li dans le block de ul (class="nav") tel que
    lorsqu'on clique sur le bouton, une liste verticale qui contient les éléments du menu va être affichée
*/
.nav > li {
    position: relative;
    display: block;
    height: 75px;
    padding-top: 10px;
}

/*START - Styles for Footer*/
.myfooter{
    background-color:cornflowerblue;
    padding:10px;
    font-family:MyEnglishFont1;
    text-align : justify
}
.subfooter {
    background-color: #0c5c85;
    color: white;
    padding-top: 10px;
    text-align: center;
}
.myfooter a{
    color : azure
}
.myfooter p{
    color: azure
}
.myfooter h3,ul,p{
    margin-bottom:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type:none
}
/*END - Styles for Footer*/

/*START : Logo Styles*/
.logo-size{
    width : 120px;
    height : 62px;
    margin-top : -7px
}
/*END : Logo Styles*/