/* charger le font souhaité ) partir de fichier OTF et TTF*/
@font-face{
    font-family : MyEnglishFont1;
    src: url('../Content/font/trench100free.otf')
}

@font-face {
    font-family: MyEnglishFont2;
    src: url('font/Impregnable_Personal_Use_Only.ttf') format('truetype');
}

.navbar-default {
    background-color: #0c5c85;
    border-color: #e7e7e7;
    
}
.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
  font-family:MyEnglishFont1
}
.navbar-default .navbar-nav > li > a:hover{
    color:#fff;
}

/*  Responsive navbar
    on va redéfinir le style de tout les li dans le block de ul (class="nav") tel que
    lorsqu'on clique sur le bouton, une liste verticale qui contient les éléments du menu va être affichée
*/
.nav > li {
    position: relative;
    display: block;
    height: 75px;
    padding-top: 10px;
}