<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <!-- lorsque les pages ont un entête différent, on utilise AT_RenderSection-->
    <!--   at RenderSection("head", required: false) -->
    
    <!-- Appel de feuille de styles pour Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Appel de nouveaux styles définies dans style.css-->
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <!--navbar : partie fixe-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--data-toggle : l'action qui va se produire (collapse). L'action est appliquée sur tout le navbar qui a un ID="navbar"-->
                
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--Logo-->
                <a href="#" class="navbar-brand">
                    <img src="#" />
                </a>
            </div>

            <!-- c'est le contenu qui va être affiché lorsqu'on appuie sur le bouton juste au dessus-->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            Offers Types
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            About Website
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            Contact Us
                        </a>
                    </li>
                </ul>

                <!--partie de Login and Register-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-lock"></i>
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!--footer : partie fixe-->

    <!--Appel des Scripts : Il faut appeler jQuery le premier-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
