@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--Ce contenu va être mis dans RenderBody de Shared/_MainLayout.cshtml-->
<p>Use this area to provide additional information.</p>
