@model IEnumerable<Job_Offers_Website.Models.Category>

@{
    ViewBag.Title = "Home Page";

}
<!--Ce contenu va être mis dans RenderBody de Shared/_MainLayout.cshtml-->
<div class="jumbotron">
    <h2>Welcome Dear Visitor</h2>
    <p>Welcome in this Recruitment Website. You can add a Job if you are a publisher. You can apply for a job if you are looking for a job</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding:15px">
        <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h1>
        <h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>

        <div class="row">
            <!--on va récupérer dans une loop tous les Jobs en relation avec chaque category-->
            @foreach (var subItem in item.Jobs)
            {
            <!--puisque dans le grid de bootstrap est de 12 colonnes, on veut afficher 4 jobs par lignes-->
                <div class="col-md-3 thumbnail" style="margin-left: 20px; margin-bottom:30px; height:380px">
                    <img src="~/Uploads/@subItem.JobImage" width="200" height="200" />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subItem.JobContent)</h5>

                    <button class="btn btn-default">Details</button>
                </div>

            }
        </div>
    </div>
}
